body{
	background-color:  #FFF5BD;
	/*#FCEFA4*/
}

#radhuset {
	width: 40%;
	float: left;
	position: fixed;
	display: inline-block;
	margin: 1.5%;
	margin-top: 75px;
	border-radius: 10px;
}

header{
	background-color: green;
	text-align: center;
	width: 100%;
	height: 55px;
	position: fixed;
	margin: auto;

}

#mainHeadline{
	text-align: center;
	margin: auto;
	color: white;
	font-size: 50px;
}

#informationTableyThingy{
	display: inline-block;
	width: 300px;
	height: 100px;
	margin-top: 75px;
	margin-left: 43%;
}

#listHeader {
	padding-top: 0px;
	padding-bottom: 5px;
	margin-top: 0px;

}

#upgradelist{
	float: right;
	width: 300px;
	margin: 1.5%;
	margin-top: 75px;
	margin-right: 100px;
	display: inline-block;

}

p {
	display: inline-block;
}

.btn {
	float: right;
}

#heart {
	width: 15%;
	margin-left: 50%;
}

.footer{
	background-color: #005E0E;
	height: 9%;
	width:100%;
	text-align: center;
	bottom: 0;
	position: absolute;
	position: fixed;
	color: white;
}



#smallFooter {
	background-color: green;
	height: 3%;
	bottom: 9%;
	position: fixed;
}

#saveButton{
	margin-top: 1%;
	color:black;
	float: right;
}

#deleteButton{
	margin-top: 1%;
	color:black;
	margin-right: 1%;
	float: right;	
}